@media (max-width: 766px) { 
    .func_descrip {
        width: 100%;
        height: auto;
        background-color: white;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .func_descrip__con {
        height: auto;
        width: 90vw;
        background-color: rgb(245, 245, 245);
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        justify-content: space-around;
        align-items: top;
        color: rgb(80, 80, 80);
    }
    .func_descrip__con__imgbg {
        height: auto;
        padding: 5%;
        background-color: #139187;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .func_descrip__con__txtbg {
        width: 95%;
        padding: 5%;
        display: flex;
        align-items: center;
        float: left;
        color: rgb(80, 80, 80);
    }
    .icon__svg1 {
        height: 75px;
    }
}

@media (min-width: 767px) { 
    .func_descrip {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        padding-bottom: 2.5%;
    }
    .func_descrip__con {
        height: auto;
        width: 90vw;
        background-color: rgb(245, 245, 245);
        border-radius: 20px;
        display: flex;
        padding: 2%;
        justify-content: space-around;
        align-items: center;
        color: rgb(80, 80, 80);
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        padding: 50px;
        margin: 10px auto 10px auto;
        text-align: left;
        font-size: 1.1em;
    }
    .func_descrip__con__imgbg {
        height: auto;
        padding: 2%;
        background-color: #139187;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .func_descrip__con__txtbg {
        width: 70%;
        display: flex;
        align-items: center;
        float: left;
        color: rgb(80, 80, 80);
    }
    .icon__svg1 {
        height: 100px;
    }
}