.mySlides {
    display: none
}

.mySlides__img {
    vertical-align: middle;
    width: 100%;
    height: 80vh;
}

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: white;
    font-size: 32px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 100%;
    text-align: center;
    background-color: rgba(19, 145, 135, 0.3);
}

.dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.dots__span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    opacity: 0.7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dots__span:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* header {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.nav1 {
    width: 100%;
    height: 11px;
    bottom: 55px;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
}

#r1:not(:checked) ~ #one,
#r2:not(:checked) ~ #two,
#r3:not(:checked) ~ #three {
    display: none;
}

#r1, #r2, #r3 {
    display: none;
}

#r1:checked ~ .nav1 #dot1,
#r2:checked ~ .nav1 #dot2,
#r3:checked ~ .nav1 #dot3 {
    background: white;
}

.logo img {
    width: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: auto;
    margin-top: 20px;
    pointer-events: none;
}

.hero__title {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    bottom: 100px;
} */