html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.nav1 {
    width: 100%;
    height: 11px;
    bottom: 55px;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
}

#r1:not(:checked) ~ #one,
#r2:not(:checked) ~ #two,
#r3:not(:checked) ~ #three {
    display: none;
}

#r1, #r2, #r3 {
    display: none;
}

#r1:checked ~ .nav1 #dot1,
#r2:checked ~ .nav1 #dot2,
#r3:checked ~ .nav1 #dot3 {
    background: white;
}

.logo img {
    width: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: auto;
    margin-top: 20px;
    pointer-events: none;
}

.hero__title {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    bottom: 100px;
}

.footer01 {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bk.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contact {  
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.contact ul li {
    list-style: none;
}

.contact ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

.footer02 {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}